ChasseAuTresor/Onvatry/Onvatry/Connected Services/FormationService/formation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInstructionsStep1">
        <s:complexType />
      </s:element>
      <s:element name="GetInstructionsStep1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstructionsStep1Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetKey">
        <s:complexType />
      </s:element>
      <s:element name="GetKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstructionsStep2">
        <s:complexType />
      </s:element>
      <s:element name="GetInstructionsStep2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstructionsStep2Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstructionsStep3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstructionsStep3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstructionsStep3Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstructionsStep4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstructionsStep4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstructionsStep4Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInstructionsStep1SoapIn">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep1" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep1SoapOut">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep1Response" />
  </wsdl:message>
  <wsdl:message name="GetKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetKey" />
  </wsdl:message>
  <wsdl:message name="GetKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep2SoapIn">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep2" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep2SoapOut">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep2Response" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep3SoapIn">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep3" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep3SoapOut">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep3Response" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep4SoapIn">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep4" />
  </wsdl:message>
  <wsdl:message name="GetInstructionsStep4SoapOut">
    <wsdl:part name="parameters" element="tns:GetInstructionsStep4Response" />
  </wsdl:message>
  <wsdl:portType name="FormationSoap">
    <wsdl:operation name="GetInstructionsStep1">
      <wsdl:input message="tns:GetInstructionsStep1SoapIn" />
      <wsdl:output message="tns:GetInstructionsStep1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <wsdl:input message="tns:GetKeySoapIn" />
      <wsdl:output message="tns:GetKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep2">
      <wsdl:input message="tns:GetInstructionsStep2SoapIn" />
      <wsdl:output message="tns:GetInstructionsStep2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep3">
      <wsdl:input message="tns:GetInstructionsStep3SoapIn" />
      <wsdl:output message="tns:GetInstructionsStep3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep4">
      <wsdl:input message="tns:GetInstructionsStep4SoapIn" />
      <wsdl:output message="tns:GetInstructionsStep4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormationSoap" type="tns:FormationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstructionsStep1">
      <soap:operation soapAction="http://tempuri.org/GetInstructionsStep1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap:operation soapAction="http://tempuri.org/GetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep2">
      <soap:operation soapAction="http://tempuri.org/GetInstructionsStep2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep3">
      <soap:operation soapAction="http://tempuri.org/GetInstructionsStep3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep4">
      <soap:operation soapAction="http://tempuri.org/GetInstructionsStep4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FormationSoap12" type="tns:FormationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInstructionsStep1">
      <soap12:operation soapAction="http://tempuri.org/GetInstructionsStep1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap12:operation soapAction="http://tempuri.org/GetKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep2">
      <soap12:operation soapAction="http://tempuri.org/GetInstructionsStep2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep3">
      <soap12:operation soapAction="http://tempuri.org/GetInstructionsStep3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructionsStep4">
      <soap12:operation soapAction="http://tempuri.org/GetInstructionsStep4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Formation">
    <wsdl:port name="FormationSoap" binding="tns:FormationSoap">
      <soap:address location="http://localhost:8080/formation.asmx" />
    </wsdl:port>
    <wsdl:port name="FormationSoap12" binding="tns:FormationSoap12">
      <soap12:address location="http://localhost:8080/formation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>